*{
    padding: 0;
    margin: 0;
}

body{
    min-width: 450px;
}

.outer{
    padding-top: 50px;
    display:flex; 
    align-items: center; 
    justify-content: center; 
}

header{
    position: fixed;
    width: 100%;
    background-color: rgb(184, 184, 209);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 4px;
    min-width: 284px;
}

nav{
    width: 400px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
nav button{
    flex: 1;
}

nav h4{
    margin-right: 10px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(235, 235, 235);
}

#container{
    display: grid;
    margin: 0 auto;
    align-self: center;
}

.game-pixel{
    background-color: transparent;
    border: 0.1px dotted black;
    margin: -0.1px;
}

.activated{
    background-color: rgb(22, 22, 22);
}